<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
    id="WebApp_ID" 
    version="6.0">

   <servlet>
       <servlet-name>ProfitLossServlet</servlet-name>
       <servlet-class>com.pl.PLServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
       <servlet-name>ProfitLossServlet</servlet-name>
       <url-pattern>/ProfitOrLossServlet</url-pattern>
   </servlet-mapping>

</web-app>
